<div class="container-fluid position-relative p-0">

     <%- include("navbar"); %>
    
    <div id="header-carousel" class="carousel slide carousel-fade bg-white" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active text-center">
                <img class="w-95" src="/images/carousel-1.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">Vos Locaux Toujours Propre.</h1>
                      
                    </div>
                </div>
            </div>
            <div class="carousel-item text-center">
                <img class="w-95" src="/images/carousel-2.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                    
                        <h1 class="display-2 text-white mb-md-3 animated zoomIn">La Référence en Création et Entrétien d'Espaces Verts</h1>
                       
                    </div>
                </div>
            </div>

            <div class="carousel-item text-center">
                <img class="w-95" src="/images/carousel-3.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                    
                        <h1 class="display-2 text-white mb-md-3 animated zoomIn">La Référence en Création et Entrétien d'Espaces Verts</h1>
                       
                    </div>
                </div>
            </div>

            <div class="carousel-item text-center">
                <img class="w-95" src="/images/carousel-4.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                    
                        <h1 class="display-2 text-white mb-md-3 animated zoomIn">Faîtes pousser votre propre nourriture </h1>
                       
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>